

  <%- include("include/index.ejs") %>
</head>
<body>
  <h1> your are persional Id </h1>

  <h3>post id : <%=postid.id %></h3>
 <div>
  <p>
    @<%= postid.username %>
  </p>
  <p>
    <%= postid.content %>
  </p>
  <p>
    <%= postid.hobbi %>
  </p>
 </div>
</body>

</html>